<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>watchfaces</key>
	<array>
		<dict>
			<key>selected</key>
			<true/>
			<key>componetImgName</key>
			<string>custom_watchface_01_light</string>
			<key>previewImgName</key>
			<string>custom_watchface_01_light_preview</string>
			<key>defalutBgName</key>
			<string>watchface_timing_preview_01_bg_black</string>
			<key>binFileName</key>
			<string>face_cus_01_l</string>
			<key>customShowType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>componetImgName</key>
			<string>custom_watchface_01_dark</string>
			<key>previewImgName</key>
			<string>custom_watchface_01_dark_preview</string>
			<key>defalutBgName</key>
			<string>watchface_timing_preview_01_bg_white</string>
			<key>binFileName</key>
			<string>face_cus_01_d</string>
			<key>customShowType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>componetImgName</key>
			<string>custom_watchface_02_light</string>
			<key>previewImgName</key>
			<string>custom_watchface_02_light_preview</string>
			<key>defalutBgName</key>
			<string>watchface_timing_preview_01_bg_black</string>
			<key>binFileName</key>
			<string>face_cus_02_l</string>
			<key>customShowType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>componetImgName</key>
			<string>custom_watchface_02_dark</string>
			<key>previewImgName</key>
			<string>custom_watchface_02_dark_preview</string>
			<key>defalutBgName</key>
			<string>watchface_timing_preview_01_bg_white</string>
			<key>binFileName</key>
			<string>face_cus_02_d</string>
			<key>customShowType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>componetImgName</key>
			<string>custom_watchface_03_light</string>
			<key>previewImgName</key>
			<string>custom_watchface_03_light_preview</string>
			<key>defalutBgName</key>
			<string>watchface_timing_preview_01_bg_black</string>
			<key>binFileName</key>
			<string>face_cus_03_l</string>
			<key>customShowType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>componetImgName</key>
			<string>custom_watchface_03_dark</string>
			<key>previewImgName</key>
			<string>custom_watchface_03_dark_preview</string>
			<key>defalutBgName</key>
			<string>watchface_timing_preview_01_bg_white</string>
			<key>binFileName</key>
			<string>face_cus_03_d</string>
			<key>customShowType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>componetImgName</key>
			<string>custom_watchface_04_light</string>
			<key>previewImgName</key>
			<string>custom_watchface_04_light_preview</string>
			<key>defalutBgName</key>
			<string>watchface_timing_preview_01_bg_black</string>
			<key>binFileName</key>
			<string>face_cus_04_l</string>
			<key>customShowType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>componetImgName</key>
			<string>custom_watchface_04_dark</string>
			<key>previewImgName</key>
			<string>custom_watchface_04_dark_preview</string>
			<key>defalutBgName</key>
			<string>watchface_timing_preview_01_bg_white</string>
			<key>binFileName</key>
			<string>face_cus_04_d</string>
			<key>customShowType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>componetImgName</key>
			<string>custom_watchface_05_light</string>
			<key>previewImgName</key>
			<string>custom_watchface_05_light_preview</string>
			<key>defalutBgName</key>
			<string>watchface_timing_preview_01_bg_black</string>
			<key>binFileName</key>
			<string>face_cus_05_l</string>
			<key>customShowType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>componetImgName</key>
			<string>custom_watchface_05_dark</string>
			<key>previewImgName</key>
			<string>custom_watchface_05_dark_preview</string>
			<key>defalutBgName</key>
			<string>watchface_timing_preview_01_bg_white</string>
			<key>binFileName</key>
			<string>face_cus_05_d</string>
			<key>customShowType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>componetImgName</key>
			<string>custom_watchface_06_light</string>
			<key>previewImgName</key>
			<string>custom_watchface_06_light_preview</string>
			<key>defalutBgName</key>
			<string>watchface_timing_preview_01_bg_black</string>
			<key>binFileName</key>
			<string>face_cus_06_l</string>
			<key>customShowType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>componetImgName</key>
			<string>custom_watchface_06_dark</string>
			<key>previewImgName</key>
			<string>custom_watchface_06_dark_preview</string>
			<key>defalutBgName</key>
			<string>watchface_timing_preview_01_bg_white</string>
			<key>binFileName</key>
			<string>face_cus_06_d</string>
			<key>customShowType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>componetImgName</key>
			<string>custom_watchface_07_light</string>
			<key>previewImgName</key>
			<string>custom_watchface_07_light_preview</string>
			<key>defalutBgName</key>
			<string>watchface_timing_preview_01_bg_black</string>
			<key>binFileName</key>
			<string>face_cus_07_l</string>
			<key>customShowType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>componetImgName</key>
			<string>custom_watchface_07_dark</string>
			<key>previewImgName</key>
			<string>custom_watchface_07_dark_preview</string>
			<key>defalutBgName</key>
			<string>watchface_timing_preview_01_bg_white</string>
			<key>binFileName</key>
			<string>face_cus_07_d</string>
			<key>customShowType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>componetImgName</key>
			<string>custom_watchface_08_light</string>
			<key>previewImgName</key>
			<string>custom_watchface_08_light_preview</string>
			<key>defalutBgName</key>
			<string>watchface_timing_preview_01_bg_black</string>
			<key>binFileName</key>
			<string>face_cus_08_l</string>
			<key>customShowType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>componetImgName</key>
			<string>custom_watchface_08_dark</string>
			<key>previewImgName</key>
			<string>custom_watchface_08_dark_preview</string>
			<key>defalutBgName</key>
			<string>watchface_timing_preview_01_bg_white</string>
			<key>binFileName</key>
			<string>face_cus_08_d</string>
			<key>customShowType</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
